// Purple

$color-purple-01: #d8e2f1;
$color-purple-02: #c4cee9;
$color-purple-03: #b1b8e1;
$color-purple-04: #9f9ed9;
$--color-purple-05: #968cd1;
$--color-purple-06: #9079c8;
$--color-purple-07: #8d67c0;
$--color-purple-08: #8c56b6;
$--color-purple-09: #8e44ad;
$--color-purple-10: #903ea2;
$--color-purple-11: #913996;
$--color-purple-12: #8a3384;
$--color-purple-13: #7f2e6f;
$--color-purple-14: #73285b;
$--color-purple-15: #672349;
$--color-purple-16: #5a1e39;

// Blue

$--color-blue-01: #e7ecf9;
$--color-blue-02: #cfdaf3;
$--color-blue-03: #b5c9ee;
$--color-blue-04: #9ab9ea;
$--color-blue-05: #7fabe7;
$--color-blue-06: #639ee5;
$--color-blue-07: #4693e3;
$--color-blue-08: #288be3;
$--color-blue-09: #0984e3;
$--color-blue-10: #0662d5;
$--color-blue-11: #0442c6;
$--color-blue-12: #0226b8;
$--color-blue-13: #000da8;
$--color-blue-14: #050099;
$--color-blue-15: #150089;
$--color-blue-16: #200079;

// Green

$--color-green-01: #edf5ed;
$--color-green-02: #dbebda;
$--color-green-03: #c9e1c7;
$--color-green-04: #b8d8b4;
$--color-green-05: #a7cfa0;
$--color-green-06: #97c78b;
$--color-green-07: #87bf77;
$--color-green-08: #78b762;
$--color-green-09: #6ab04c;
$--color-green-10: #69a545;
$--color-green-11: #689a3e;
$--color-green-12: #668e37;
$--color-green-13: #638231;
$--color-green-14: #5f762a;
$--color-green-15: #5a6925;
$--color-green-16: #535d1f;

// Orange

$--color-orange-01: #edf5ed;
$--color-orange-02: #dbebda;
$--color-orange-03: #c9e1c7;
$--color-orange-04: #b8d8b4;
$--color-orange-05: #a7cfa0;
$--color-orange-06: #97c78b;
$--color-orange-07: #87bf77;
$--color-orange-08: #78b762;
$--color-orange-09: #6ab04c;
$--color-orange-10: #69a545;
$--color-orange-11: #689a3e;
$--color-orange-12: #668e37;
$--color-orange-13: #638231;
$--color-orange-14: #5f762a;
$--color-orange-15: #5a6925;
$--color-orange-16: #535d1f;
