@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #84b4c2;
  background: linear-gradient(
    174deg,
    rgba(226, 248, 255, 1) 0%,
    rgba(240, 243, 250, 1) 50%,
    rgba(250, 244, 244, 1) 100%
  );
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#app {
}
